:root {
    /* Backgrounds */
    --bg-primary: #000611;
    --bg-secondary: #000C1D;
    --bg-surface: #001326;

    /* Borders */
    --border: #00305A;

    /* Brand */
    --primary: #006CFF;
    --secondary: #00A8FF;
    --accent: #20C8FF;

    /* Text */
    --text-primary: #F5F7FA;
    --text-secondary: #94A3B8;
}
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-primary);
    color: var(--text-primary);
}
a {
    color: var(--text-secondary);
    text-decoration: none;
}

li{
    display: inline-block;
}